* {
    box-sizing: border-box;
}

body {
    font-family: 'lato', sans-serif;
    margin: 0;
}

.hidden {
    display: none !important;
}


/* -----------------------------------Typography */


h1 {
    font-family: 'DM Sans', sans-serif;
    font-size: 36px;
    color: #D04F4F;
    text-align: center;
}

.recipe-name, .input-search::placeholder {
    font-weight: 400;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
}

.recipe-time, .ingredient, h1, i, .search-item::placeholder {
    font-weight: 700;
}

.recipe-name, .recipe-time, input[type="search"] {
    font-size: 18px;
}

.recipe-description, .ingredient {
    font-size: 12px;
}

.recipe-description {
    font-family: 'roboto', sans-serif;
    font-weight: 400;
    margin-left: 1rem;
    text-overflow:ellipsis;
    overflow: hidden;
    white-space: nowrap;
}


/*-------------------------- input search ---------- */

input {
    padding: 20px 40px;
    border-width: 0;
    border-radius: 5px;
    color: white;
}

#search {
    color: black;
    width: 100%;
    background: #E7E7E7;
}

.main-search-recipe {
    margin-bottom: 30px;
    background: #E7E7E7;
}

input:focus {
    outline: none
}

.recipes-names-list {
    margin-top: 0;
    padding-bottom: 20px;
}

.recipe-name-list {
    list-style-type: none;
}

.search-item {
    width: 260px;
}

.search-item::placeholder {
    color: white;
}

.fa-chevron-down, .fa-chevron-up {
    position: absolute;
    color: white;
    top: 25px;
    right: 20px;
}


/* --------------------- Navigation --------- */

.search-navigation {
    padding-left: 5px;
    margin-bottom: 40px;
    /* display: block ruby */
}

.nav-item {
    display: inline-block;
    list-style-type: none;
    padding-left: 0;
    margin-right: 20px;
    position: relative;
}

.nav-ingredients, .nav-appliances, 
.nav-ustensils, .main-search-recipe {
    border-radius: 5px;
}

.nav-ingredients, .search-item-blue,
.ingredients-list, .ingredients-list-request,
.selected-ingredient  {
    background: #3282F7;
}


.nav-appliances, .search-item-green,
.appliances-list, .appliances-list-request,
.selected-appliance {
    background: #68D9A4;
}

.nav-ustensils, .search-item-red,
.ustensils-list, .ustensils-list-request,
.selected-ustensil {
    background: #ED6454;
}

.ingredients-list, .appliances-list, 
.ustensils-list {
    color: white;
    padding-bottom: 25px;
    margin-top: -8px;
    border-radius: 0 0 5px 5px;
    padding-top: 10px;
    padding-right: 40px;
}

.ingredients-list, .ustensils-list {
    column-count: 3;
}

.appliances-list {
    column-count: 2;
}

.ingredients-list-request, .appliances-list-request, 
.ustensils-list-request {
    column-count: 1;

}

.ingredients-list-request-pb, .appliances-list-request-pb, 
.ustensils-list-request-pb {
    padding-bottom: 0rem;
}

.ingredients-list-item, .appliances-list-item, 
.ustensils-list-item {
    list-style-type: none;
}

/* -------------------- selected elt navigation --------------------- */

.wrapper-selected-ingredients {
    display: flex;
}

.selected-ingredient, .selected-appliance, 
.selected-ustensil {
    color: white;
    padding: 10px 5px 10px 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    width: max-content;
    margin-right: 10px;
}

.far {
    padding-left: 5px;
}


/* --------------------- Layout ------------- */


.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

.cards-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2rem;
}

.recipe-card {
    width: 380px;
    height: 365px;
    background-color: rgb(154, 146, 145);
    border-radius: 5px;
}

.recipe-img {
    width: 380px;
    height: 180px;
    background-color: cornsilk;
}

.recipe-wrapper {
    padding-left: 1rem;
    padding-right: 1rem;
}

.recipe-name {
    flex-basis: 220px;
}

.recipe-heading {
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
}

.recipe-content {
    display: flex;
}

.recipe-time {
    margin-bottom: 5px;
}

i {
    margin-right: 0.5rem;
}

.col {
    flex: 1;
}

.ingredient-list {
    padding-left: 0;
}

.ingredient {
    list-style-type: none;
}
