* {
    box-sizing: border-box;
}

.recipes-name {
    margin-right: auto;
}

.cards-grid {
    max-width: 1200px;
    padding: 1rem;
    margin: 0 auto;
}

.card-container {
    width: 380px;
    height: 365px;
    border: 1px solid grey;
}

.card-img {
    width: 380px;
    height: 180px;
}

.card-recipe-wrapper {
    height: 185px;
    padding: 0 1.5rem 0;
    background-color: darkgrey;
}

.card-headings {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.timer {
    margin-left: 1rem;
}

.card-recipe-content {
    display: flex;
}

.description {
    flex-grow: 1.3;
    margin-left: 1rem;
}
